$website-width: 1280px;
$paragraph-color: #5f6c7b;
$headline-color: #5f6c7b;
$light-color: #fffffe;
$medium-color: #3da9fc;
$dark-color: #094067;
$accent-color: #ef4565;
$bg-image: url("../img/beach2.jpg");
$piano-image: url("../img/piano.jpg");
$petition-image: url("../img/petition.jpg");
$font: "Raleway", sans-serif;

//Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
